.gal-list {
    display: flex !important;
    flex-wrap: nowrap;
    overflow-x: hidden;
    padding: 0;
    padding-bottom: 1rem;
    gap: .2rem;
}

.gal-list > img {
    height: 100px;
    width: auto;
}

.fullscreen-image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.fullscreen-image img {
    height: 90%;
    width: auto;
}

.img-omg {
    border-radius: .25rem;
    filter: contrast(1.5) brightness(1.5) saturate(1.5);
}